@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header, 
.first-section,
.second-section,
.third-section,
.fourth-section,
.footer {
    padding: 0 96px;
}

/* header */
.header {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;  
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

.header-logo {
    font-weight: 700;
}

ul {
    display: flex;;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #F9FAF8;  
    font-size: small;
}