@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header, 
.first-section,
.second-section,
.third-section,
.fourth-section,
.footer {
    padding: 0 180px;
}

/* header */
.header {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;  
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

.header-logo {
    font-weight: 700;
    font-size: 24px;
}

ul {
    display: flex;;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #F9FAF8;  
    font-size: 18px;
}


/* first-section */

.first-section {
    background-color: #1F2937;
    padding-top: 100px;
    padding-bottom: 100px;
    color:#F9FAF8;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.image {
    background-color: rgb(121, 131, 147);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: auto;
}


.main-title {
    font-size: 48px;
    font-weight: 900;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 16px;;
}

.main-button {
    background-color: #3882f6;
    color: #F9FAF8;
    font-weight: bold;
    padding: 8px 24px;
    border: 0;
    border-radius: 8px;
}

/* second section */

.second-section {
    text-align: center;
    padding: 48px 400px 96px;
}

.information {
    display: flex;
    justify-content: center;
    gap: 64px;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 64px;
}

.info {
    max-width: 144px;
}

.placeholder-box {
    width: 144px;
    height: 144px;
    border: 4px solid #3882f6;
    flex-shrink: 0;
    border-radius: 16px;
    margin-bottom: 8px
}

.placeholder-descript {
    color: #1F2937;
}

/* third section */

.third-section {
    background-color:#E5E7EB;
    display: flex;
    padding: 128px 400px 100px 300px;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.author {
    font-weight: bold;
    font-size: 24px;
    align-self: flex-end;
}

